rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
       // Allow read and write access to all storage files for development purposes.
      // WARNING: This is an insecure rule and should be replaced with
      // more restrictive rules before going to production.
      allow read, write: if true;
    }
  }
}
